{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "react-hooks",
    "import",
    "react",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/href-no-hash": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "id-length": [
      1,
      {
        "min": 2,
        "properties": "always",
        "exceptions": [
          "i",
          "j",
          "a",
          "b",
          "e"
        ]
      }
    ],
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-no-undef": [
      2,
      {
        "allowGlobals": true
      }
    ],
    "react/function-component-definition": 0,
    "import/no-import-module-exports": 0
  }
}